<h3>My Cart.</h3>
<body onLoad="show_cart()">
<table id="demo" class="table">

</table>
<form action="/cart" method="post">
<button type="submit" class="btn btn-sm btn-success">Send order</button></div><hr/>
</form>
</body>