<h3>My Cart.</h3>

<body onLoad="show_cart()">

<form action="/cart" method="post" class="form-inline">

<table class="table">
<thead>
  <tr>
    <th>Orders</th>
    <th>Quantities</th>
  </tr>
</thead>
<tbody id="demo">
</tbody>
</table>

    <label for="price">Total price:</label>
<div id="price" style="font-size: 22px;"></div><hr/>
 <div class="form-group">
    <label for="inputname">Your name:</label>
    <input type="text" class="form-control" id="inputname" name="clientsname" placeholder="Patrick Jane">
    <input type="text" class="hidden" id="test" name="testorder">
    <input type="text" class="hidden" id="test2" name="testorder2">
  </div>
  <div class="form-group">
    <label for="inputphone">Phone number:</label>
    <input type="text" class="form-control" id="inputphone" name="clientsphone" placeholder="1234567890">
  
<button type="submit" class="btn btn-sm btn-success">Send order</button>
<button type="submit" class="btn btn-sm btn-danger" onClick="clearBasket(); return false;">Clear the cart</button></div><hr/>

</form>
</body>