<!DOCTYPE html>
<html>

<head>

</head>

<body>

<div>
  <h1 style="color: #999;">Best pizza in the world</h2>
</div>

<% @products.each do |row|%>
  <div class="col">
    <div class="col-md-4">
    <img src="<%=row.path_to_image%>" alt="wth" class="img-rounded" style="width: 300px"></hr>
    <%=row.description%></br>
    Size: <%=row.size%> cm.</br>
    Price: <%=row.price%> ₽
    <button type="button" class="btn btn-warning" onclick="knopka()">Add to 🛒</button></hr></br>
    </div>
  </div>
<%end%>

</body>
</html>