body {
  font-family: Courier;
}

.navbar {
  background-color: rgb(199, 92, 80);
}

.button5 {
  background-color: rgb(255, 255, 255);
  color: rgb(29,	46,	55);
  border: 2px solid #00aa00;
  border-radius: 5px;
}

.button5:hover {
  background-color: #5ab65a;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 68, 9);
  border-radius: 5px;
}



